#content{
    padding-top: 15px;
    padding-left: 10px;
}

#nasa-image{
    width: 30%;
    height: 30%;
    padding-top: 15px;
    padding-left: 10px;
}

/*#nasa-video{
    width: 30%;
    height: 30%;
}*/
